################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/videodefaults.txt
/video.txt
/config.cfg
